.rvo-page-section.rvo-margin-t25
    .rvo-toolbar 
        .rvo-toolbar-left
            .rvo-toolbar-nav
                ul
                    li
                        a.rvo-current(href="#") Véhicules en attente de documents (1)
                    li
                        a(href="#") Historique
.rvo-page-section.rvo-margin-t25
    .rvo-table-scroll
        table.rvo-table
            +table-header()
                each header in jsondata.gestioneDocTable.headers
                    +table-header-cell(header.label, header.align, header.fittocell, header.checkbox)
            +table-body()
                each row, index in jsondata.gestioneDocTable.rows
                    +table-body-row()
                        each cell in jsondata.gestioneDocTable.rows[index].cells
                            +table-body-cell(cell.label, cell.align, cell.toggle, cell.menu, cell.menuposition, cell.menuicon, cell.status, cell.checkbox, cell.minibutton, cell.minibuttontitle, cell.notif, cell.fontsize, cell.colspan)
.rvo-page-actions 
    button.rvo-button-bordered Exporter les documents



