+modal(null, 's')
    .rvo-modal-header
        span.rvo-status.rvo-error
        .rvo-modal-title Supprimer le chèque de banque
    .rvo-modal-content
        p.rvo-modal-text Merci de confirmer la suppression du chèque de banque de l’acheteur « Jean-Claude Durand »
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Confirmer')