extend templates/client
block variables
    -var pageSlug = "Lettrage";
    -var childSlug = "Gestion-soldes-avoir";
block content

    +pageNav('1', ['Compte d\'attente', 'Avoir', 'Chèque de banque'])
    include components/lettrage/gestion-soldes/tableau-avoir.pug