extend templates/client
block variables
    -var pageSlug = "Preparation-vente";
block content

    include components/preparation-vente/import.pug
    .rvo-page-actions.rvo-fixed
        +button('Appliquer')
