extend templates/client
block variables
    -var pageSlug = "Vente-B2C";
    -var childSlug = "Gerer-vehicules";
block content
    include components/vente-b2c/gerer-vehicules/sommaire.pug
    include components/shared/filters.pug
    include components/vente-b2c/gerer-vehicules/tableau.pug
    .rvo-page-actions
        button.rvo-button-bordered(type="button") Exporter
