+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Confirmer le retour en transport
    .rvo-modal-content
        div.rvo-fontsize-16 Merci de confirmer le retour en transport des véhicules suivant :
        ul.rvo-list.rvo-fontsize-14.rvo-color-light.rvo-maxheight-200
            li GE-548-OF
            li AB-123-CD
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Confirmer')
