+modal('', 's')
    .rvo-modal-header
        .rvo-modal-title Offres
    .rvo-modal-content
        .rvo-fontsize-16.rvo-margin-b25 Pour : Garage du Moulin
        .rvo-listing
            .rvo-listing-item
                .rvo-listing-item-title 1ère
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.235
                    br
                    | Garage de l’autoroute du soleil
            .rvo-listing-item
                .rvo-listing-item-title 2ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
            .rvo-listing-item
                .rvo-listing-item-title 3ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
            .rvo-listing-item
                .rvo-listing-item-title 4ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
            .rvo-listing-item
                .rvo-listing-item-title 5ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
            .rvo-listing-item
                .rvo-listing-item-title 6ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
            .rvo-listing-item
                .rvo-listing-item-title 7ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
            .rvo-listing-item
                .rvo-listing-item-title 8ème
                .rvo-listing-item-radio
                    +radio('', 'offres', null, null, 's') 
                .rvo-listing-item-text 
                    | 7.200
                    br
                    | Garage Michu
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider')