.rvo-page-section
    .rvo-flex-spacebetween-end
        +pageNav('0', ['Nouvelle analyse', 'Analyse en cours'])
        .rvo-boxes
            .rvo-box
                .rvo-box-content Perf Argus : 125%
            .rvo-box
                .rvo-box-content Perf VO : 51%
            .rvo-box
                .rvo-box-title Vente du 02/05/22
                .rvo-box-content 300 véhicules