+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Historique entretien
    .rvo-modal-content
        div.rvo-fontsize-16 Pour : Garage du Moulin
        ul.rvo-list.rvo-fontsize-14.rvo-color-light
            li Contrôle technique le 22/09/2017
            li Vidange le 03/12/2017
    .rvo-modal-footer
        +button('Fermer', 'cancel')
