+modal(null, 's', 'sync-online')
    span.rvo-sync.rvo-online
    .rvo-modal-header
        span.rvo-status.rvo-success
        .rvo-modal-title Connexion restaurée
    .rvo-modal-content
        p Vous pouvez continuer vos actions.
        .rvo-flex-centered
            +image('sync-online.svg')
        p Pensez à vérifier que votre dernière action ait bien été enregistrée.
    .rvo-modal-footer
        +button('Continuer')
