+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Confirmer les affectations
    .rvo-modal-content
        .rvo-modal-text  Vous allez procéder à l’affectation de 40 véhicules.
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider')