.rvo-page-section
    .rvo-flex-spacebetween-end
        .rvo-boxes
            .rvo-box
                .rvo-box-title Véhicules affectés à Orgeval
                .rvo-box-content 40 véhicules
        .rvo-buttons
            button.rvo-button-bordered.rvo-disabled(type="button") Nouvelle préparation
            button.rvo-button-bordered.rvo-disabled(type="button") Mise en vente
