+modal(null, 's')
    .rvo-modal-header
        span.rvo-status.rvo-error
        .rvo-modal-title Aucun avoir trouvé
    .rvo-modal-content
        p.rvo-modal-text Le Garage Mécaplus ne possède aucun avoir en cours. Vous pouvez en créer un depuis l’onglet « Avoir ».
    .rvo-modal-footer
        +button('Annuler', 'cancel')
