+modal(null, 'sm')
    .rvo-modal-header.rvo-flex-spacebetween-end
        .rvo-modal-title Documents bien envoyés 👍
        .rvo-modal-progress 100%
    .rvo-modal-content
        .rvo-margin-b20 Mission accomplie. Good job !
        .rvo-progress.rvo-loading
            span
    .rvo-modal-footer 
        +button('Valider', 'disabled')
