.rvo-page-actions
    +button('Nouveau rapprochement')
.rvo-page-section
    table.rvo-table.rvo-layout-fixed.rvo-padding-l
        +table-header()
            +table-header-cell()
                .rvo-fontweight-700.rvo-fontsize-16.rvo-margin-b10 Paiement rapprochés
                .rvo-fontsize-16  130.000,00
            +table-header-cell()
            +table-header-cell()
        +table-body()
            +table-body-row()
                +table-body-cell('Garage du moulin')
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
            +table-body-row('rvo-noborder')
                +table-body-cell()
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
            +table-body-row()
                +table-body-cell('Garage du moulin')
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
            +table-body-row()
                +table-body-cell('Garage du moulin')
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
            +table-body-row('rvo-noborder')
                +table-body-cell()
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
.rvo-page-section
    table.rvo-table.rvo-layout-fixed.rvo-padding-l
        +table-header()
            +table-header-cell()
                .rvo-fontweight-700.rvo-fontsize-16.rvo-margin-b10 Soldes créés
                .rvo-fontsize-16  130.000,00
            +table-header-cell()
            +table-header-cell()
        +table-body()
            +table-body-row()
                +table-body-cell('Garage du moulin')
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
            +table-body-row()
                +table-body-cell('Garage du moulin')
                +table-body-cell('IM-006-MA', 'center')
                +table-body-cell('20.000,00', 'right')
.rvo-page-section 
    .rvo-line-through
        .rvo-boxes
            .rvo-box
                .rvo-box-title Montant du relevé
                .rvo-box-content 355 000,00
            .rvo-box
                .rvo-box-title Reste à affecter
                .rvo-box-content 225 000,00
.rvo-page-actions
    +button('Nouveau rapprochement')

//- .rvo-page-section
//-     .rvo-page-section-title Régularisation
//-     .rvo-tables
//-         table.rvo-table.rvo-layout-fixed.rvo-padding-l
//-             +table-body()
//-                 +table-body-row()
//-                     +table-body-cell('Garage du moulin')
//-                     +table-body-cell(null, 'center')
//-                         .rvo-table-cell-label
//-                             b 05/04/2022
//-                     +table-body-cell('IM-006-MA', 'center')
//-                     +table-body-cell('20.000,00', 'right')
//-         table.rvo-table.rvo-layout-fixed.rvo-padding-l
//-             +table-body()
//-                 +table-body-row()
//-                     +table-body-cell('Garage du moulin')
//-                     +table-body-cell(null, 'center')
//-                         .rvo-table-cell-label
//-                             b 05/04/2022
//-                     +table-body-cell('IM-006-MA', 'center')
//-                     +table-body-cell('20.000,00', 'right')
//-         table.rvo-table.rvo-layout-fixed.rvo-padding-l
//-             +table-body()
//-                 +table-body-row()
//-                     +table-body-cell('Garage du moulin')
//-                     +table-body-cell(null, 'center')
//-                         .rvo-table-cell-label
//-                             b 05/04/2022
//-                     +table-body-cell('IM-006-MA', 'center')
//-                     +table-body-cell('20.000,00', 'right')