.rvo-page-section
    .rvo-flex-spacebetween-end
        .rvo-boxes
            .rvo-box
                .rvo-box-title Montant du relevé
                .rvo-box-content 355 000,00
            .rvo-box
                .rvo-box-title Reste à affecter
                .rvo-box-content 225 000,00
        button.rvo-button-bordered(data-modal-trigger="cancelrapprochement") Annuler ce rapprochement
