.rvo-page-section
    .rvo-flex-spacebetween-end
        .rvo-box
            .rvo-box-title Véhicules en souffrance
            .rvo-box-content 280 véhicules
        button.rvo-button-bordered.rvo-disabled(type="button") Souffrance résolue
