-var clientAssetsPath = pageSlug=="index" || pages[pageSlug].isClient ? "" : "../";
-var clientPagesPath = pageSlug=="index" || pages[pageSlug].isClient ? "" : "../";
-var uikitAssetsPath = pageSlug=="index" ? "uikit/assets/" : (inABuild ? "assets/" : "../uikit/assets/");
