#rvo-app-loader(class= (isLoaderHidden ? "rvo-hidden" : ""))
    .rvo-loader-content
        .rvo-loader-logo #{strings.sitename}
        .rvo-dots
            .rvo-dot.rvo-dot1
            .rvo-dot.rvo-dot2
            .rvo-dot.rvo-dot3
        .rvo-app-version Version #{strings.version}