+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Modifier la date de la vente
    .rvo-modal-content
        +formItem('date', 'Date de la vente', '', '', '', true, '', '', '', '', '', '')
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider', 'disabled')