.rvo-page-section
    .rvo-flex-spacebetween-end
        +pageNav('0', ['Vente du 02/05/22 : 280 véhicules', 'Vente du 05/05/22 : 150 véhicules'], true)
        div
            button.rvo-button-bordered(type="button") Nouvelle préparation
