+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Supprimer l’acheteur
    .rvo-modal-content
        div.rvo-fontsize-16 Merci de confirmer la suppression de l’acheteur «SAS VPauto plus garage center »
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Confirmer')
