+modal(null, 'm')
    .rvo-modal-header
        .rvo-modal-title Rapprochement
    .rvo-modal-content
        p.rvo-modal-text Vous allez rapprocher le fichier :
        <div class="rvo-file rvo-margin-b20"><span class="rvo-icon-attachement"></span><span class="rvo-file-name">lorem ipsum dolor sit amet.csv</span></div>
        p.rvo-modal-text Avec le fichier :
        <div class="rvo-file"><span class="rvo-icon-attachement"></span><span class="rvo-file-name">unperfectur 20220504.csv</span></div>
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Continuer')