+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Actualiser le tableau de rapprochement ?
    .rvo-modal-content
        .rvo-modal-text
            | La nouvelle correspondance comprends deux acheteurs présents dans le rapprochement actuel. 
            br
            | Si vous actualisez le tableau, vous perdrez les actions faites sur les deux lignes concernées.
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider')