+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Confirmer les demandes de transport de 8 véhicules
    .rvo-modal-content
        div.rvo-fontsize-16 Merci de confirmer la demande de transport des véhicules :
        ul.rvo-list.rvo-fontsize-14.rvo-color-light.rvo-maxheight-200
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider')
