+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Confirmer la mise en souffrance
    .rvo-modal-content
        div.rvo-fontsize-16 Merci de confirmer la mise en souffrance des véhicules :
        ul.rvo-list.rvo-fontsize-14.rvo-color-light.rvo-maxheight-200
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
            li GE-548-OF
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider')
+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Confirmer l’arrivée
    .rvo-modal-content
        div.rvo-fontsize-16 Merci de confirmer l'arrivée des véhicules :
        ul.rvo-list.rvo-fontsize-14.rvo-color-light.rvo-maxheight-200
            li GE-548-OF
            li GE-548-OF
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Valider')
