+modal(null, 's')
    .rvo-modal-header
        .rvo-modal-title Confirmer la mise en vente immédiate
    .rvo-modal-content
        .rvo-form-items
            .rvo-form-item
                .rvo-fontsize-16 Pour : DV-548-ZW
            .rvo-form-item
                .rvo-fontsize-16 Merci de confirmer la mise en vente immédiate du véhicule
    .rvo-modal-footer
        +button('Annuler', 'cancel')
        +button('Confirmer')